In [ ]:
import sqlite3

In [ ]:
db = sqlite3.connect('../data/data104.sqlite')

In [ ]:
cur = db.cursor()

In [ ]:
#--------------------------------

In [ ]:
import pymongo

In [ ]:
Client=pymongo.MongoClient("172.20.26.39",27017)

In [ ]:
mdb=Client.rawData
mdb.collection_names()

In [ ]:
collection=mdb.HRdata104
data104=list(collection.find({}))
for dien in data104:
    del dien["_id"]
# data104
Client.close()

In [ ]:
#-------------------

In [ ]:
cur.execute("CREATE TABLE data104(APPEAR_DATE varchar, JOB varchar, JOBCAT_DESCRIPT varchar,\
            JOB_ADDRESS varchar, JOB_ADDR_NO_DESCRIPT varchar , LAT double, LON double,\
            NAME varchar, SAL_MONTH_HIGH int,SAL_MONTH_LOW int);")

In [ ]:
", ".join(["data['%s']"%i for i in data104[0].keys()])

In [ ]:
for data in data104:
    cur.execute("INSERT INTO data104 VALUES ('%s','%s','%s','%s','%s', %s, %s,'%s', %s, %s);"%(data['APPEAR_DATE'],
                                                                                   data['JOB'].replace("'",""),
                                                                                   data['JOBCAT_DESCRIPT'].replace("'",""),
                                                                                   data['JOB_ADDRESS'].replace("'",""),
                                                                                   data['JOB_ADDR_NO_DESCRIPT'],
                                                                                   data['LAT'],
                                                                                   data['LON'],
                                                                                   data['NAME'].replace("'",""),
                                                                                   data['SAL_MONTH_HIGH'],
                                                                                   data['SAL_MONTH_LOW']))

In [ ]:
db.commit()

In [ ]:
for row in cur.execute("SELECT * FROM data104;"):
    print(row)

In [ ]:
db.close()